* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 30px;
    font-family: 'Marck Script', cursive;
}
h1 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-style:italic;


}
h2 {
    font-size: 1.5rem; 
    color: black;
    font-style:italic;

}


header {
    
    text-align: center;
    padding: 50px 0;
    background-color:rgb(255, 255, 255)
    
}
.logo{
    width: 70px;
    
}       


.about {
    text-align: center;
    padding:30px 100px;
    background-color: rgb(255, 255, 255);

    
}
.about-me {
    line-height: 2rem;
    font-size: 1.5rem;
    text-align: justify;

    margin-bottom: 20px;
    color:rgb(0, 0, 0);
}

.time{
    text-align: left;
    color:rgb(255, 255, 255);
    
    padding: 0px 5px;
    font-size: 0.7em;


}
.articles {
    text-align: center;
    padding: 30px 100px;
    background-color: rgb(255, 255, 255);

}

.articles-list{
    padding: 0px;
    text-align: justify;
    margin-left: 10px;
    color:rgb(0, 0, 0);
    
}

footer {
    
    padding: 30px 70px;
    background-color:rgb(255, 255, 255)
}

.main-menu{ 
    
    background-color:  rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    padding: 50px 100px;
    
}
.main-menu-list{
    margin-left: 5px;
    list-style: none;   
}   

.oglavlenie{
    font-size: 1rem;
    text-align: left;
   color: rgb(0, 0, 0);
}
.icons{
    display: inline;
}
.new-section{
color:rgb(0, 5, 8);
text-align: center;
font-style:italic;
}
.title{
font-style: italic;
}
.articles-list li:nth-child(2n+1){
background-color: rgba(0, 0, 0, 0.589);
}
.articles-list::after{
   
   border-radius: 1px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    
}

.articles-list-imp::before{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    font-size: 25px;
    border-bottom: 30px;
}
.articles-list-imp:hover{
    background-color:rgb(0, 0, 0);
}
.articles-list-imp:focus{
    color: rgb(0, 0, 0);
}

    
.articles-list1:focus{
    color: rgb(0, 0, 0);
}
.main-menu-list-ssilka:hover{
    background-color:rgb(255, 255, 255);
}
.main-menu-list-ssilka:focus{
    color: white;
}
.footerlink:hover{
    background-color: rgb(0, 0, 0);
}
.footerlink:focus{
    color: white;
}
.footerstyle{
    text-align: center;
    display: inline-block;  
}
.main-menu-list li{
    display: inline-block;
}
.main-menu-gorizont{
    text-align: center;
}


p:lang(en) 
{
    font-size: 23pt;
    text-decoration: underline;
}
.footerstyle img{
text-shadow: 2px 2px 0 rgb(0, 0, 0); 
}
.tablesakura{
    margin-top: 100px;
    margin-left: 290px;
    margin-bottom: 100px;
    border-collapse: collapse; /*схлопываем границы*/ 
}
/* .price-table td, 
.price-table th {
border: 1px solid blue;
} */
.tablesakura caption {
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
    color: darkblue;
}
.tablesakura th
{
    font-weight: normal;
    color: rgb(0, 0, 0);
    width: 250px;
}
.tablesakura tr
{
    border-top: solid 1px grey;
     
    text-decoration: dotted;
    font-size: 25px;
}
.tablesakura tr:nth-child(2n)
{
    background-color: rgb(255, 255, 255);
    border-top: solid 2px rgb(255, 255, 255);
}
.tablesakura td:first-child,
.tablesakura th:first-child
{
    width: 150px;
    text-align: center;
}
.tablesakura td
{
    border: 1.5px solid rgb(53, 44, 44);
}
.obratnayasvyaz{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding: 100px;
    padding-bottom: 70px;
}
#example-form label{
    font-style: italic;
    color:rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    min-width: 180px;
    padding: 7px 0px;
    
}
#example-form input[type='name']{
background-color: rgb(218, 255, 131);
min-width: 180px;
padding: 7px 0px;
}

#example-form input[type='password']{
    background-color: rgb(218, 255, 131);
    min-width: 180px;
    padding: 7px 0px;
}
#example-form input[type='submit']{
    background-color: rgb(218, 255, 131);
}
#example-form input[type='tel']{
    background-color: rgb(218, 255, 131);
    min-width: 180px;
    padding: 7px 0px;
}
#example-form textarea{
    background-color: rgb(218, 255, 131);
    
}
#example-form select{
    background-color: rgb(218, 255, 131);
    min-width: 180px;
    padding: 7px 0px;
    
}
#example-form input[type='submit']:hover,
#example-form input[type='submit']:focus{
    background-color: rgb(0, 0, 0);
    border-radius: 0;
}
#example-form input[type='submit'] {
background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
border: none;
padding: 5px 15px;
margin: 7px 0px;
box-shadow: 16px -7px 22px 0px rgba(0, 0, 0, 0.36);
border-radius: 25px;

}

.about p{
    color: rgb(0, 0, 0);
    font-size: 35px;
    
}
.about h2{
    font-size: 1.5rem; 
    color: black;
    font-style:italic;
    font-family: 'Marck Script', cursive;
    font-style: normal;
}
.footerstyle img{
    background-color: rgb(255, 255, 255);
    
    box-shadow: 8px -3.5px 11px 0px rgb(0, 0, 0);
   
}
p + .sakura{
    border:rgb(0, 0, 0) solid 3px;
}

.tablesakura td:nth-child(2n+1)
{
    background-color: pink;
    border-top: solid 2px gray;
}
.tablesakura th:nth-child(2n+1)
{
    background-color: rgb(229, 192, 198);
    border-top: solid 2px gray;
}
.obratnaya h2{
    text-align: center;
}
figcaption + .img{
    border: solid rgb(0, 0, 0);
}
.razryaj1::first-line{
    letter-spacing: .2rem;
}
.razryaj2::first-line{
    letter-spacing: .2rem;
}
.razryaj3::first-line{
    letter-spacing: .2rem;
}
.razryaj4::first-line{
    letter-spacing: .2rem;
}
.tel{
    text-decoration: dashed;
    font-size: 25px;
}